<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tienda_de_música.Properties.Settings.TiendaDeMusicaConnectionString"
            connectionString="Data Source=DESKTOP-LBHAM93\SQLEXPRESS;Initial Catalog=TiendaDeMusica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>